body {  
    background: #222222;
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
}


img.logo:hover {
    background: url("images/undefined-bots-logo-hover.png");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    font-size: 110%;
    margin: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.not-logo {
    float:right
}

li.not-logo:hover {
    transition-duration: 400ms;
    background-color: #111111;
    float: right;
}

.buttons button {
    cursor: pointer;
    padding: 10px;
    background-color: #209800;
    border-radius: 8px;
    border-color: black;
    font-family: 'Roboto Mono', sans-serif;
    width: 28%;
    height: auto;
    color: black;
    font-size: 150%;
}

.buttons button:hover {
    transition-duration: 300ms;
    cursor: pointer;
    padding: 10px;
    background-color: #222222;
    border-radius: 8px;
    border-color: #209800;
    font-family: 'Roboto Mono', sans-serif;
    width: 28%;
    height: auto;
    color: white;
    font-size: 150%;
}